.page {
    margin-top: 2rem;
    gap: 4rem;
}

.list-title {
    margin-left: 2rem;
}

.left-col {
    width: 22rem;
    max-width: 22rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    height: min-content;
}

.section {
    border-top: 1px solid gray;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.description-input {
    width: 100%;
    border: 1px solid gray;
}

.description-save {
    background-color: forestgreen;
    color: honeydew;
    border: 0;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.description-cancel {
    background-color: honeydew;
    color: forestgreen;
    border: 1px solid forestgreen;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.description-save:hover {
    background-color: rgb(29, 118, 29);
}

.right-col {
    width: 57rem;
    padding: 2rem 0.5rem;
    border-radius: 1rem;
    background-color: white;
}

