.page {
    margin-top: 2rem;
    gap: 4rem;
}

.list-title {
    margin-left: 2rem;
}

.left-col {
    width: 22rem;
    max-width: 22rem;
    /* padding: 2rem; */
    border-radius: 1rem;
    background-color: white;
    height: min-content;
}

.section {
    padding: 1.5rem;
    border-top: 1px solid gray;
}

.subSection {
    border-top: 1px solid gray;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-btn {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: honeydew;
    color: black;
    gap: 0.5rem;
    border: 1px solid forestgreen;
    justify-content: start;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: forestgreen;
    color: honeydew;
}

.description-input {
    width: 100%;
    border: 1px solid gray;
}

.description-save {
    background-color: forestgreen;
    color: honeydew;
    border: 0;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.description-cancel {
    background-color: honeydew;
    color: forestgreen;
    border: 1px solid forestgreen;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.description-save:hover {
    background-color: rgb(29, 118, 29);
}

.right-col {
    width: 57rem;
    padding: 2rem 0.5rem;
    border-radius: 1rem;
    background-color: white;
}


@media (max-width: 1450px) {
    .right-col {
        width: 40rem;
    }

    .page {
        gap: 2rem;
    }
}

@media (max-width: 1024px) {
    .left-col {
        width: 41rem;
        max-width: none;
    }
}

@media (max-width: 768px) {
    .left-col {
        width: calc(100% - 2rem);
    }

    .right-col {
        width: calc(100% - 2rem);
        padding: 1rem 0;
    }
}