.page {
    margin: 2vw 7vw 0;
    gap: 4vw;
}

.list-title {
    margin-left: 2vw;
}

.left-col {
    width: 22vw;
    max-width: 22vw;
    padding: 2vw;
    border-radius: 1vw;
    background-color: white;
    height: min-content;
}

.section {
    border-top: 1px solid gray;
    margin-top: 0.5vw;
    padding-top: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.description-input {
    width: 100%;
    border: 1px solid gray;
}

.description-save {
    background-color: forestgreen;
    color: honeydew;
    border: 0;
    padding: 0.25vw 1vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

.description-cancel {
    background-color: honeydew;
    color: forestgreen;
    border: 1px solid forestgreen;
    padding: 0.25vw 1vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

.description-save:hover {
    background-color: rgb(29, 118, 29);
}

.right-col {
    width: 57vw;
    padding: 2vw 0.5vw;
    border-radius: 1vw;
    background-color: white;
}

