.page {
    align-items: start;
}

.header {
    background-color: forestgreen;
    padding: 1rem;
}

.back-btn {
    border: 0;
    background-color: transparent;
    color: honeydew;
    cursor: pointer;
    padding: 0.5rem 0.75rem 0.5rem 0.4rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.back-icon-box {
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.back-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.title {
    color: honeydew;
    font-weight: bold;
    margin-left: 3rem;
}

.formContainer {
    max-width: 800px;
    margin: 3rem auto 10rem;
    padding: 2rem;
    /* background-color: rgb(246, 255, 246); */
    background-color: white;
    border-radius: 2rem;
}

.fieldGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input,
.textarea {
    width: calc(100% - 1.5rem);
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.textarea {
    min-height: 100px;
    resize: vertical;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: honeydew;
    border-radius: 10px;
}

.videoInputGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 15px;
    background-color: #2b7a2f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

.button:hover {
    background-color: forestgreen;
    transform: scale(1.05);
}

.iconButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: #2e7d3211;
    color: #2e7d32;
    border: 1px solid #2e7d32;
    border-radius: 6px;
    cursor: pointer;
    gap: 0.5rem;
}

.iconButton:hover {
    background-color: #2e7d32;
    color: white;

}

.iconButton:disabled {
    color: #aaa;
    border: 1px solid #aaa;
}

.iconButton:hover:disabled {
    color: #aaa;
    border: 1px solid #aaa;
    background-color: #2e7d3211;
    cursor: not-allowed;
}

.danger {
    background-color: #fff0f0;
    border: 1px solid #ff0000cc;
    color: #ff0000cc;
}

.danger:hover {
    background-color: #ff0000cc;
    color: white;
}

.dialogBackground {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
}

.dialogBody {
    background-color: white;
    position: absolute;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 2rem;
    gap: 1rem;
}

@media (max-width: 768px) {
    .dialogBody {
        width: 15rem;
    }
}