.banner {
    width: 60rem;
    height: calc(100vh - 5.25rem);
    object-fit: cover;
}

.content {
    height: calc(100vh - 10.25rem);
    padding: 1.5rem 1.5rem;
    width: 37rem;
    gap: 3rem;
}

.guide-btn,
.start-btn {
    width: 30rem;
    padding: 1rem 0;
    border-radius: 1rem;
    cursor: pointer;
}

.guide-btn {
    border: 1px solid forestgreen;
    color: forestgreen;
    background-color: honeydew;
}

.guide-btn:hover {
    background-color: rgb(215, 228, 215);
}

.start-btn {
    border: 1px solid forestgreen;
    color: honeydew;
    background-color: forestgreen;
}

.start-btn:hover {
    background-color: rgb(28, 116, 28);
    border: 2px solid rgb(28, 116, 28);
}

@media (max-width: 1450px) {
    .banner {
        width: 35rem;
    }

    .content {
        width: 35rem;
    }

    .guide-btn,
    .start-btn {
        width: 24rem;
        padding: 1rem 0;
        border-radius: 1rem;
    }
}

@media (max-width: 1024px) {
    .banner {
        width: 100%;
        height: 30rem;
    }

    .content {
        width: auto;
        height: auto;
    }
}

@media (max-width: 768px) {
    .banner {
        height: 25rem;
    }

    .guide-btn,
    .start-btn {
        width: 16rem;
        padding: 1rem 0;
        border-radius: 1rem;
    }
}