* {
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.track {
    /* width: 100%; */
    position: relative;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 3rem;
    padding: 1.5rem 0;
    /* width: 84rem; */
    overflow-x: hidden;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 8rem;
}

.carousel-track {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); /* Hiệu ứng chuyển động */
}

.prev, .next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1;
}

.prev:disabled, .next:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.prev {
    left: 0;
}
.next {
    right: 0;
}